/* Color */
:root {
  --color-white: #ffffff;
  --color-blue: #0d369f;
  --color-pink: #ff6e65;
  --color-grey: #787878;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Font */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black);
}

li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}